# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# Build results
bin/
obj/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# ASP.NET
appsettings.Development.json

# Firebase credentials
firebase-service-account.json

appsettings.json
firebase-service-account.json